<footer>
  <div class="border">
  </div>
  <div class="mainContainer">
  <div class="footerLeft">
    <h2 class="logo">Enver Shala</h2>
    <a href="legalnotice" class="footerLeftSpan">Legal Notice</a>
  </div>

  <div class="footerMiddle">
    <span class="footerMiddleSpan">© Enver Shala 2025</span>
  </div>

  <div class="footerRight">
    <a href="https://github.com/EnverShala" target="_blank">
      <img class="gitHubIcon" src="./assets/img/footer/githubIcon.png"/>
    </a>
    <a href="mailto:envershala1989@gmail.com" target="_blank">
      <img class="emailIcon" src="./assets/img/footer/emailIcon.png"/>
    </a>
    <a href="https://www.linkedin.com/in/enver-shala-cybersecurity/" target="_blank">
      <img class="linkedInIcon" src="./assets/img/footer/linkedInIcon.png"/>
    </a>
  </div>
  </div>
</footer>