<div class='impressum'>
    <h1>{{'legalNotice.ImprintTxt' | translate }}</h1><p>{{'legalNotice.DDGTxt' | translate }}</p><p>Enver Shala <br> 
    Gartenstr. 86<br> 
    70734 Fellbach <br> 
    </p><p> <strong>{{'legalNotice.representedTxt' | translate }}</strong><br>
    Enver Shala<br>
    </p><p><strong>{{'legalNotice.contactTxt' | translate }}:</strong> <br>
    {{'legalNotice.pPhoneTxt' | translate }}: 017664136199<br>
    E-Mail: <a href='mailto:envershala1989@gmail.com'>envershala1989&#64;gmail.com</a><br></p><p><strong>{{'legalNotice.pDisclaimer' | translate }}: </strong><br><br><strong>{{'legalNotice.pPrivacy' | translate }}</strong><br><br>
    {{'legalNotice.pStatement1' | translate }} <br>
    {{'legalNotice.pStatement2' | translate }} <br>
    {{'legalNotice.pStatement3' | translate }} <br>
    </p><br> 
    {{'legalNotice.pImprintTxt' | translate }} <a href="https://www.impressum-generator.de">Impressum Generator</a> {{'legalNotice.pTheWord' | translate }} <a href="https://www.kanzlei-hasselbach.de/rechtsgebiete/familienrecht/">{{'legalNotice.pLawTxt' | translate }}</a>
</div>
     