<div id="homepageID" class="mainContainer">
  <div class="d-flexImgAndTxt">
    <div class="mainImagesContainer">
      <img class="mainImage" data-aos="fade-right" src="./assets/img/homepage/mainImage.png"/>
      <img class="bgShadowOnMain" src="./assets/img/homepage/bg_shadow1.png"/>
    </div>

    <div class="textAndButtonMainContainer">    
      <div class="mainTextContainer">
      <div class="mainIamTxtContainer" data-aos="fade-left">
        <span class="iamTxt">I am</span>
      </div>
      <div class="titelTxtContainer" data-aos="fade-left">
        <div class="nameTxtContainer">
          <h1 class="nameTxt">Enver Shala</h1>
        </div>
        <div class="jobDescriptionContainer">
          <h2 class="jobDescriptionTxt">{{'homepage.h2JobDescription' | translate}}</h2>
        </div>
      </div>
      </div>
      <div class="buttonOnMainContainer">
      <a href="#contact" class="buttonOnMain">
        <span class="buttonTxtOnMain">{{'homepage.LetsTalkSpan' | translate}}</span>
      </a>
      </div>
    </div>
</div>

  <div class="scollDownContainer">
    <span class="scrollDownTxt">{{'homepage.scrollDownSpan' | translate}}</span>
    <div class="arrowDownContainer">
      <img class="arrowDownImg" src="./assets/img/homepage/arrow_down.png" />
    </div>
  </div>

  <div class="referencesContainer">
    <div class="vectorPurpleContainer">
      <img class="vectorPurple" src="./assets/img/homepage/vector_purple.png"/>
    </div>
    <div class="githubIconContainer">
      <a href="https://github.com/EnverShala" target="_blank">
        <img class="githubIcon" src="./assets/img/homepage/githubIcon.png" alt="githubIcon"/>
      </a>
    </div>
    <div class="emailIconContainer">
      <a href="mailto:envershala1989@gmail.com" target="_blank">
        <img class="emailIcon" src="./assets/img/homepage/emailIcon.png" alt="EmailIcon"/>
      </a>
    </div>
    <div class="linkedInIconContainer">
      <a href="https://www.linkedin.com/in/enver-shala-cybersecurity/" target="_blank">
        <img class="linkedInIcon" src="./assets/img/homepage/linkedInIcon.png" alt="githubIcon"/>
      </a>
    </div>
    <div class="emailTxtContainer">
      <a href="#contact" class="emailTxt">envershala1989&#64;gmail.com</a>
    </div>
  </div>
</div>
