$white: #ffffff;
$purple: #9747ff;
$green: #70e61c;

@mixin hover-scale($color) { 
  cursor: pointer;
  background: $color;
  transform: scale(1.1);
}

.mainContainer {
  position: relative;
  height: 100vh;
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 100px;
  color: $white;
  max-width: 1920px;
}

.mainImagesContainer {
  display: flex;
  z-index: -100;
  .mainImage {
    object-fit: contain;
    width: 646px;
    height: 705px;
  }
}

.d-flexImgAndTxt, .mainTextContainer, .mainIamTxtContainer, .scollDownContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titelTxtContainer {
  display: flex;
  flex-direction: column;
  .nameTxt {
    margin: -20px 0 -26px 0;
    font-size: 90px;
    font-weight: 700;
  }
  .jobDescriptionTxt {
    font-size: 58px;
    font-weight: 400;
    line-height: 69.6px;
    color: $purple;
    margin: 0;
  }
}

.mainIamTxtContainer {
  height: 172px;
  .iamTxt {
    font-size: 64px;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    transform: rotate(-90deg);
  }
}

.scollDownContainer {
  position: absolute;
  top: 550px;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  gap: 3px;
  transform: rotate(90deg);
  .scrollDownTxt, .arrowDownContainer, .arrowDownImg {
    gap: 0;
  }
  .scrollDownTxt {
    text-wrap: nowrap;
  }
  .arrowDownContainer {
    padding: 20px 2px 5px 0;
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    .arrowDownImg {
      width: 15.56px;
      height: 16px;
    }
  }
}

.buttonOnMainContainer { 
  display: flex;
  justify-content: center;
  width: 760px;
  .buttonOnMain {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
    height: 58px;
    gap: 10px;
    border-radius: 10px;
    border: 0;
    background: $green;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
    &:hover {
      @include hover-scale($purple);
    }
    .buttonTxtOnMain {
      font-size: 23px;
      font-weight: 400;
      line-height: 27.6px;
      color: $white;
      text-wrap: nowrap;
    }
  }
}

.referencesContainer { 
  position: absolute;
  left: 0;
  height: 50px;
  gap: 32px;
  margin-top: -140px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .vectorPurpleContainer {
    .vectorPurple {
      width: 140px;
      height: 5px;
    }
  }
}

.githubIconContainer, .emailIconContainer, .linkedInIconContainer {
  width: 30px;
  height: 30px;
  .githubIcon, .emailIcon, .linkedInIcon {
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
    &:hover {
      transform: scale(1.4);
    }
  }
}

.emailTxtContainer {
  width: 248px;
  height: 28px;
  &:hover {
    transform: scale(1.05);
  }
  .emailTxt {
    font-size: 23px;
    line-height: 27.6px;
    color: $white;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    text-wrap: nowrap;
  }
}

.bgShadowOnMain {
  position: absolute;
  left: 0;
  width: 690.7px;
  height: 671.38px;
  z-index: -1;
}
@media screen and (min-height: 840px) and (max-height: 940px) {
  .referencesContainer {
    bottom: 200px !important;
  }
}
@media (min-height: 660px) and (max-height: 780px) and (max-width: 1000px) {
  .referencesContainer {
    top: 600px !important;
  }
}
@media (min-height: 660px) and (max-height: 780px) {
  .mainImagesContainer {
    margin-top: -12px !important;
    .mainImage {
      height: 440px !important;
    }
  }
  .mainTextContainer {
    margin-top: -130px !important;
  }
}
@media (min-width: 1921px) and (max-width: 3840px) {
  .mainContainer {
    position: relative;
    max-width: 1920px;
  }
  .mainImagesContainer {
    .mainImage {
      width: 380px;
      height: 800px;
    }
  }
  .scollDownContainer {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -760px;
  }
}
@media (max-width: 1920px) {
  .mainImagesContainer {
    .mainImage {
      width: 380px;
      height: 800px;
    }
  }
}
@media (max-width: 1460px) {
  .mainTextContainer {
    .mainIamTxtContainer {
      .iamTxt {
        font-size: 45px;
      }
    }
    .titelTxtContainer {
      .nameTxt {
        margin: 5px 0 -11px 0;
        font-size: 55px;
      }
      .jobDescriptionTxt {
        font-size: 30px;
      }
    }
  }
  .buttonOnMainContainer {
    width: 100%;
    .buttonOnMain {
      height: 48px;
    }
  }
  .scollDownContainer {
    padding: 0;
    top: 250px;
  }
  .mainImagesContainer {
    .mainImage {
      width: 280px;
      height: 600px;
    }
  }
  .referencesContainer {
    gap: 20px;
    margin-top: -50px;
    .vectorPurpleContainer {
      .vectorPurple {
        display: none;
      }
    }
  }
}
@media (max-width: 1040px) {
  .mainContainer {
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .d-flexImgAndTxt {
    display: block;
  }
  .mainImagesContainer {
    justify-content: center;
    .mainImage {
      z-index: -2;
    }
  }
  .bgShadowOnMain {
    width: 100%;
    margin: 0;
    z-index: -3;
  }
  .mainTextContainer {
    margin-top: -170px;
    .titelTxtContainer {
     .nameTxt {
        margin: 4px 0 -11px 0;
      }
      .jobDescriptionTxt {
        text-wrap: nowrap;
      }
    }
  }
  .scollDownContainer {
    display: none;
  }
  .referencesContainer {
    margin-left: calc(50% - 239px);
    gap: 15px;
    top: 740px;
    display: flex;
    justify-content: start;
    align-items: center;
    .githubIconContainer,
    .emailIconContainer,
    .linkedInIconContainer {
      .githubIcon,
      .emailIcon,
      .linkedInIcon {
        height: 24px;
        width: 24px;
      }
    }
    .emailTxtContainer {
      margin-top: -6px;
      .emailTxt {
        font-size: 20px;        
      }
    }
  }
}
@media (max-width: 470px) {
  .mainImagesContainer {
    margin-top: 0px;
    .mainImage {
      width: 240px;
      height: 560px;
    }
  }
  .mainTextContainer {
    margin-top: -150px;
    .mainIamTxtContainer {
      .iamTxt {
        font-size: 32px;
      }
    }
    .titelTxtContainer {
      .nameTxt {
        margin: 12px 0 -20px 0;
        font-size: 32px;
      }
      .jobDescriptionTxt {
        font-size: 20px;
      }
    }
  }
  .referencesContainer {
    margin-left: calc(50% - 160px);
    gap: 8px;
    top: 640px;
    .emailTxtContainer {
      .emailTxt {
        font-size: 14px;        
      }
    }
  }
  .buttonOnMainContainer {
    .buttonOnMain {
      height: 44px;
      margin-top: -40px;
    }
  }
  .githubIconContainer,
  .emailIconContainer,
  .linkedInIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    .githubIcon,
    .emailIcon,
    .linkedInIcon {
      width: 20px;
      height: 20px;
    }
  }
}
