  <div class="vectorBlackContainerBack">
    <img class="vectorBlackBack" src="./assets/img/aboutme/vector_black.png">
  </div>
  
  <div class="mainAboutMeContainer">
    <div class="aboutMeTxtMainContainer" data-aos="flip-left">
        <div class="aboutMeHeaderContainer">
          <h2 class="aboutMeTxt">{{"aboutme.aboutMeH2" | translate }}</h2>
        </div>
          <div class="prefaceContainer">
            <span id="aboutMeSpanID" class="prefaceTxt">
              {{"aboutme.prefaceSpan" | translate }}
            </span>
          </div>
          <div class="strengthsContainer">
            <div class="strength1Container">
              <div class="locationImgContainer">
                <img class="locationImg" src="./assets/img/aboutme/location.png" />
              </div>
              <div class="locationTxtContainer">
                <span id="aboutMeLocationSpanID" class="locationTxt">
                  {{"aboutme.locationSpan" | translate }}</span>
              </div>
            </div>
            <div class="strength2Container">
              <div class="bulbImgContainer">
                <img class="bulbImg" src="./assets/img/aboutme/bulb.png" />
              </div>
              <div class="bulbTxtContainer">
                <span id="aboutMeBulbSpanID" class="bulbTxt">
                  {{"aboutme.bulbSpan" | translate }}</span>
              </div>
            </div>
            <div class="strength3Container">
              <div class="puzzleImgContainer">
                <img class="puzzleImg" src="./assets/img/aboutme/puzzle.png" />
              </div>
              <div class="puzzleTxtContainer">
                <span id="aboutMePuzzleSpanID" class="puzzleTxt">
                  {{"aboutme.puzzleSpan" | translate }}</span>
              </div>
            </div>
          </div>
    </div>
  
    <div class="profileAndVectorMaincontainer">
      <div class="profilePictureMainContainer">
        <img class="ellipseGreen" data-aos="flip-left" src="./assets/img/aboutme/ellipse_green.png"/>
        <div class="profilePictureContainer" data-aos="flip-right">
          <img class="profileImg" src="./assets/img/aboutme/profileImg.png"/>
      </div>
      </div>
      <div class="vectorGreenLongContainer" data-aos="flip-right">
        <img class="vectorGreenLong" src="./assets/img/aboutme/vector-green-long.png"/>
      </div>
    </div>
  </div>

  <img class="purple_shadow" src="./assets/img/aboutme/purple_shadow.png"/>
