.mainAboutMeContainer {
  display: flex;align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  max-width: 1920px;
  margin-bottom: 300px;
  margin-top: 150px;
  .aboutMeTxtMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profileAndVectorMaincontainer {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    .vectorGreenLongContainer {
      .vectorGreenLong {
        width: 155px
      }
    }
  }
}

.vectorBlackContainerBack {
  position: absolute;
  z-index: -1;
  rotate: 0deg;
  left: 0;
  right: 0;
  margin-top: -505px;
  .vectorBlackBack {
    width: 100%;
    height: 500px;
  }
}

.aboutMeTxtContainer {
  height: 532px;
}

.aboutMeHeaderContainer {
  height: 108px;
}

.aboutMeTxt {
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.prefaceContainer {
  display: grid;
  width: 471px;
  margin-top: 20px;
  .prefaceTxt {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #ffffff;
  }
}

.strengthsContainer {
  display: grid;
  gap: 40px;
  margin-top: 40px;
  .strength1Container,
  .strength2Container,
  .strength3Container {
    display: flex;
    align-items: center;
    gap: 16px;
    &:nth-child(1),
    &:nth-child(2) {
      justify-content: flex-end;
    }
  }
}

.locationImgContainer,
.bulbImgContainer,
.puzzleImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.4);
  }
}

.locationImgContainer,
.bulbImgContainer,
.puzzleImgContainer {
  width: 48px;
  height: 48px;
  gap: 10px;
}

.locationTxtContainer,
.bulbTxtContainer,
.puzzleTxtContainer {
  width: 407px;
  .locationTxt,
  .bulbTxt,
  .puzzleTxt {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #ffffff;
  }
}

.profilePictureMainContainer {
  width: 453px;
  height: 453px;
  .ellipseGreen {
    width: 453px;
    height: 453px;
    position: absolute;
    border: 4px solid transparent;
    z-index: 1;
    }
  }
  .profilePictureContainer {
    width: 453px;
    height: 453px;
    display: flex;
    justify-content: center;
    align-items: center;
    .profileImg {
      object-fit: contain;
      margin-bottom: -44px;
      margin-left: 16px;
      height: 420px;
      width: 340px;
      z-index: 0;
  }
}

.purple_shadow {
  position: absolute;
  right: 0px;
  backdrop-filter: blur(93px);
  z-index: -100;
}

@media (min-width: 1921px) and (max-width: 3840px) {
  .vectorBlackContainerBack {
    top: 1140px;
  }
  .mainAboutMeContainer {
    margin-top: -1200px;
    position: relative;
  }
  .purple_shadow {
    position: absolute;
    right: 0px;
    top: 1150px;
    backdrop-filter: blur(93px);
    z-index: -100;
  }
}
@media (max-width: 1920px) {
  .purple_shadow {
    position: absolute;
    right: 0px;
    top: 1000px;
    backdrop-filter: blur(93px);
    z-index: -100;
  }
}
@media (min-height: 950px) and (max-height: 1648px) {
  .vectorBlackContainerBack {
    top: 985px;
  }
  .mainAboutMeContainer {
    margin-top: -700px;
  }
}
@media (min-height: 660px) and (max-height: 780px) {
  .vectorBlackContainerBack {
    top: 750px !important;
  }
}
@media (max-height: 825px) {
  .vectorBlackContainerBack {
    top: 1040px;
  }
}
@media (max-width: 1920px) {
  .vectorGreenLong {
    width: 245px;
    height: 5px;
  }
}
@media (max-width: 1460px) {
  .mainAboutMeContainer {
    .profileAndVectorMaincontainer {
      .profilePictureMainContainer,
      .vectorGreenLongContainer {
        .vectorGreenLong{
          width: 155px;
        }
      }
    }
    .aboutMeTxtMainContainer {
      align-items: flex-start;
    }
    .prefaceContainer {
      width: 350px;
      .prefaceTxt {
        font-size: 14px;
      }
    }
    .strengthsContainer {
      width: 390px;
      text-wrap: wrap;
      .strength1Container,
      .strength2Container,
      .strength3Container {
        justify-content: flex-start;
        .locationTxtContainer,
        .bulbTxtContainer,
        .puzzleTxtContainer {
          width: 320px;
          .locationTxt,
          .bulbTxt,
          .puzzleTxt {
            font-size: 14px;
          }
        }
        .locationImgContainer,.bulbImgContainer,.puzzleImgContainer {
          width: 30px;
        }
      }  
    }
  }
  .vectorBlackContainerBack {
    top: 880px;
  }
  .aboutMeHeaderContainer {
    .aboutMeTxt {
      font-size: 45px;
    }
  }
  .profilePictureMainContainer,
  .profilePictureContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 280px;
    .ellipseGreen {
      width: 280px;
      height: 280px;
      margin-right: -5px;
    }
    .profileImg {
      height: 280px;
      width: 200px;
      margin-bottom: -40px;
      margin-right: 36px;
    }
  }
}
@media (max-width: 1000px) {
  .vectorBlackContainerBack {
    top: 880px;
  }
  .mainAboutMeContainer {
    .profileAndVectorMaincontainer {
      flex: none;
      width: auto;
      .profilePictureMainContainer,
      .vectorGreenLongContainer {
        display: none;
      }
    }
    .aboutMeTxtMainContainer {
      width: 100%;
      display: flex;
        justify-content: center;
        align-items: center;
      .aboutMeHeaderContainer{
        display: flex;
        justify-content: center;
      }
      .prefaceContainer {
        width: 100%;
      }
      .strengthsContainer {
        width: 100%;
        .strength1Container,
        .strength2Container,
        .strength3Container {
          width: 100%;
          margin: 0;
          .locationImgContainer,
          .bulbImgContainer,
          .puzzleImgContainer {
            padding: 0px;
            width: 18px;
          }
          .locationTxtContainer,
          .bulbTxtContainer,
          .puzzleTxtContainer,
          .aboutMeHeaderContainer,
          .aboutMeTxt {
            width: 100%;
          }
        }
      }
    }
  }
  .aboutMeTxt {
    font-size: 62px;
  }
}
@media (max-width: 660px) {
  .mainAboutMeContainer {
    .prefaceContainer {
      justify-content: center;
      .prefaceTxt {
        width: 300px;
        font-size: 12px;
      }
    }
    .aboutMeTxtMainContainer {
      .strengthsContainer {
        width: 300px;
        .strength1Container,
        .strength2Container,
        .strength3Container {
          .locationTxtContainer,
          .bulbTxtContainer,
          .puzzleTxtContainer {
            .locationTxt,
            .bulbTxt,
            .puzzleTxt {
              font-size: 12px;
            }
          }
        }  
      }
    }
  }
  .locationImg {
    height: 28px;
    width: 21px;
  }
  .bulbImg,
  .puzzleImg {
    height: 42px;
    width: 42px;
  }
  .aboutMeHeaderContainer{
    .aboutMeTxt {
      text-wrap: nowrap;
    }
  }
}
@media (max-width: 470px) {
  .vectorBlackContainerBack {
    top: 840px;
  }
}