body {
  margin: 0;
  box-sizing: border-box;
  background: #141d2f;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#homepage {
  scroll-margin-top: 200px;
}

#aboutMe {
  scroll-margin-top: 200px;
}

#skills {
  scroll-margin-top: 200px;
}

#portfolio {
  scroll-margin-top: 140px;
}

@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@media (min-width: 1921px) and (max-width: 3840px) {
  body {
    box-sizing: border-box;
    background: #141d2f;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    overflow-x: visible;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }
  #aboutMe {
    scroll-margin-top: 100px;
  }
}
@media (max-width: 1920px) {
  body {
    width: 100%;
  }
  #aboutMe {
    scroll-margin-top: 100px;
  }
}
@media (max-width: 960px) {
  #aboutMe {
    scroll-margin-top: 60px;
  }
  #skills {
    scroll-margin-top: 60px;
  }
  #portfolio {
    scroll-margin-top: 60px;
  }
}
@media (max-height: 825px) and (max-width: 630px) {
  #contact {
    scroll-margin-top: 100px;
  }
  #skills {
    scroll-margin-top: 100px;
  }
  #aboutMe {
    scroll-margin-top: 150px;
  }
}
